@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
          opacity: 0;
          width: 4px;
}

/* Track */
::-webkit-scrollbar-track {

  
            background: #6de6e8;
            opacity: 1;
          
}

/* Handle */
::-webkit-scrollbar-thumb {
          background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
          background: #354749;
          opacity: 1;
}
